.surjections {
    align-items: center;
    background-color: #0000002b;
    border: 2px solid;
    border-color: #ffffff;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    padding: 0px 3rem;
    position: relative;
    height: fit-content;
    top: 0;
    width: fit-content;
}

.surjections .surjections-icons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.ThingsToDoCards-topbox {

}

.surjections-box {
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    gap: 15px;
    height: 102px;
    padding: 10px 0px;
    position: relative;
    width: 8rem;
}

.surjections .img {
    position: relative;
    width: 2rem;
}

.surjections .text-wrapper {
    display: flex;
    color: #ffffff;
    font-family: "Outfit-Regular", Helvetica;
    font-size: var(--mFontSize);
    letter-spacing: var(--letterspacerM);
    text-align: center;
}
