.Page-gap {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    margin-bottom: 10rem;

}  

.AboutUsPageBody {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.AboutUsPage-Tittle {
margin-bottom: 5rem;
}

.ourMission2 {
    position: absolute;
    top: 0px;
    left: 0px;
    letter-spacing: 0.15em;
    font-weight: 600;
    display: inline-block;
    width: 628px;
}
.loremIpsumDolor {
    position: absolute;
    top: 101px;
    left: 0px;
    font-size: var(--mFontSize);
    letter-spacing: 0.12em;
    font-weight: 500;
    color: #e3e3e3;
    display: inline-block;
    width: 584px;
    height: 134px;
}
.ourMission1 {
    position: absolute;
    top: 45px;
    left: 47px;
    width: 595px;
    height: 342px;
    overflow: hidden;
}
.textContainer {
    position: absolute;
    top: 0px;
    left: calc(50% - 720.5px);
    width: 691px;
    height: 387px;
    overflow: hidden;
}
.imgContainerChild {
    position: absolute;
    top: 0px;
    left: calc(50% - 342.5px);
    background-color: rgba(0, 0, 0, 0.17);
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 628px;
    height: 387px;
    overflow: hidden;
}
.imgContainer {
    position: absolute;
    top: 0px;
    left: calc(50% + 35.5px);
    width: 685px;
    height: 387px;
    overflow: hidden;
}
.ourMission {
    width: 100%;
    position: relative;
    height: 387px;
    text-align: left;
    font-size: 35px;
    color: #fff;
    font-family: Outfit;
}

.haveQuestions {
    position: absolute;
    top: calc(50% - 13px);
    left: calc(50% - 111.5px);
    letter-spacing: 0.15em;
    font-weight: 600;
}
.questions {
    position: absolute;
    top: 2px;
    left: calc(50% - 437.5px);
    width: 875px;
    height: 78px;
    overflow: hidden;
    font-size: 20px;
    color: #fff;
}

.firstname {
    position: absolute;
    top: 90px;
    left: 0px;
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 195px;
    height: 48px;
    overflow: hidden;
}
.secondname {
    position: absolute;
    top: 90px;
    left: 243px;
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 195px;
    height: 48px;
    overflow: hidden;
}
.email {
    position: absolute;
    top: 153px;
    left: 0px;
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 438px;
    height: 48px;
    overflow: hidden;
}
.subHeader {
    position: absolute;
    top: 0;
    left: 0px;
    width: 593px;
    height: 48px;
    overflow: hidden;
    text-align: left;
    color: #e3e3e3;
}
.phoneNumber {
    position: absolute;
    top: 216px;
    left: 0px;
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 438px;
    height: 48px;
    overflow: hidden;
}
.countryregion {
    position: absolute;
    top: 279px;
    left: 0px;
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 438px;
    height: 48px;
    overflow: hidden;
}
.contactForm {
    position: absolute;
    top: 80px;
    left: 36px;
    width: 438px;
    height: 306px;
}
.yourMessageHere {
    position: relative;
    letter-spacing: 0.15em;
    font-weight: 600;
    text-align: start;
}
.messagebox {
    position: absolute;
    top: 90px;
    left: 460px;
    border: 2px solid #fff;
    box-sizing: border-box;
    width: 775px;
    height: 237px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.algeria {
    letter-spacing: 0.15em;
    text-align: center;
    align-self: center;
    background: none;
    border: none;
}
.fullbutton {
    position: absolute;
    top: 360px;
    left: 1014px;
    border-radius: 5px;
    background-color: #ffffff62;
    width: 222px;
    height: 36px;
    overflow: hidden;
    font-size: var(--mFontSize);
    color: #000;
    display: flex;
    justify-content: center;
    align-content: center;
    transition: 0.3s ease;
}

.fullbutton:hover {
    background-color: #ffffff;
    cursor: pointer;

}
.contactConta {
    width: 100%;
    position: relative;
    border: 2px solid #fff;
    box-sizing: border-box;
    height: 37rem;
    overflow: hidden;
    flex-shrink: 0;
    text-align: center;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    background-color: #00000086;
}

#Input {
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0  0.25rem ;
    color: #fff;
}
#MInput {
    background: none;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0.5rem 0.25rem;
    color: #fff;
    overflow: auto; 
    max-height: 300px; /* Set a max height to control overflow */
    word-wrap: break-word; /* Handle long words or lines */
    resize: none; /* Optional: Disable resizing if it's a textarea */
}

.error {
    position: absolute;
    right: 0;
    top: 0;
}
